In [7]:
import pandas as pd

In [8]:
from pydataset import data

In [9]:
df = pd.DataFrame(data())

In [10]:
df

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [14]:
data('sleepstudy', show_doc=True)

sleepstudy

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Reaction times in a sleep deprivation study

### Description

The average reaction time per day for subjects in a sleep deprivation study.
On day 0 the subjects had their normal amount of sleep. Starting that night
they were restricted to 3 hours of sleep per night. The observations represent
the average reaction time on a series of tests given each day to each subject.

### Format

A data frame with 180 observations on the following 3 variables.

`Reaction`

Average reaction time (ms)

`Days`

Number of days of sleep deprivation

`Subject`

Subject number on which the observation was made.

### Details

These data are from the study described in Belenky et al. (2003), for the
sleep-deprived group and for the first 10 days of the study, up to the
recovery period.

### References

Gregory Belenky, Nancy J. Wesensten, David R. Thorne, Maria L. Thomas, Helen
C. Sing, Daniel P. Redmond, Michael B. Russo and Thomas J. Balkin (2003)
Patterns of performance degradation and restoration during sleep restriction
and subsequent recovery: a sleep dose-response study. _Journal of Sleep
Research_ **12**, 1–12.

### Examples

    str(sleepstudy)
    require(lattice)
    xyplot(Reaction ~ Days | Subject, sleepstudy, type = c("g","p","r"),
           index = function(x,y) coef(lm(y ~ x))[1],
           xlab = "Days of sleep deprivation",
           ylab = "Average reaction time (ms)", aspect = "xy")
    (fm1 <- lmer(Reaction ~ Days + (Days|Subject), sleepstudy))
    (fm2 <- lmer(Reaction ~ Days + (1|Subject) + (0+Days|Subject), sleepstudy))

In [15]:
ss = data('sleepstudy')
ss

     Reaction  Days  Subject
1    249.5600     0      308
2    258.7047     1      308
3    250.8006     2      308
4    321.4398     3      308
5    356.8519     4      308
..        ...   ...      ...
176  329.6076     5      372
177  334.4818     6      372
178  343.2199     7      372
179  369.1417     8      372
180  364.1236     9      372

[180 rows x 3 columns]

In [16]:
ss.shape

(180, 3)

In [17]:
ss.dtypes

Reaction    float64
Days          int64
Subject       int64
dtype: object

In [18]:
ss.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 1 to 180
Data columns (total 3 columns):
Reaction    180 non-null float64
Days        180 non-null int64
Subject     180 non-null int64
dtypes: float64(1), int64(2)
memory usage: 5.6 KB

In [19]:
ss.describe()

         Reaction        Days     Subject
count  180.000000  180.000000  180.000000
mean   298.507892    4.500000  341.277778
std     56.328757    2.880293   20.320905
min    194.332200    0.000000  308.000000
25%    255.375825    2.000000  331.000000
50%    288.650800    4.500000  336.000000
75%    336.752075    7.000000  352.000000
max    466.353500    9.000000  372.000000

In [21]:
ss[ss.Reaction > 287].

     Reaction  Days  Subject
4    321.4398     3      308
5    356.8519     4      308
6    414.6901     5      308
7    382.2038     6      308
8    290.1486     7      308
9    430.5853     8      308
10   466.3535     9      308
31   321.5426     0      330
32   300.4002     1      330
36   297.5855     5      330
38   318.2613     7      330
39   305.3495     8      330
40   354.0487     9      330
41   287.6079     0      331
43   301.8206     2      331
44   320.1153     3      331
45   316.2773     4      331
46   293.3187     5      331
47   290.0750     6      331
48   334.8177     7      331
49   293.7469     8      331
50   371.5811     9      331
54   309.7688     3      332
55   317.4629     4      332
56   309.9976     5      332
57   454.1619     6      332
58   346.8311     7      332
59   330.3003     8      332
62   289.5550     1      333
64   299.8097     3      333
65   297.1710     4      333
66   338.1665     5      333
67   332.0265     6      333
68   348.8399     7      333
69   333.3600     8      333
70   362.0428     9      333
77   305.5248     6      334
78   331.5229     7      334
79   335.7469     8      334
80   377.2990     9      334
91   312.3666     0      337
92   313.8058     1      337
93   291.6112     2      337
94   346.1222     3      337
95   365.7324     4      337
96   391.8385     5      337
97   404.2601     6      337
98   416.6923     7      337
99   455.8643     8      337
100  458.9167     9      337
108  308.1020     7      349
109  336.2806     8      349
110  351.6451     9      349
116  329.7247     5      350
117  379.4445     6      350
118  362.9184     7      350
119  394.4872     8      350
120  389.0527     9      350
122  300.0576     1      351
126  304.6336     5      351
127  287.7466     6      351
129  321.5418     8      351
130  347.5655     9      351
132  298.1939     1      352
133  326.8785     2      352
134  346.8555     3      352
135  348.7402     4      352
136  352.8287     5      352
137  354.4266     6      352
138  360.4326     7      352
139  375.6406     8      352
140  388.5417     9      352
145  314.8222     4      369
146  317.2135     5      369
147  298.1353     6      369
148  348.1229     7      369
149  340.2800     8      369
150  366.5131     9      369
156  344.1937     5      370
158  347.5855     7      370
159  365.1630     8      370
160  372.2288     9      370
168  304.6306     7      371
169  350.7807     8      371
170  369.4692     9      371
173  297.5968     2      372
174  310.6316     3      372
175  287.1726     4      372
176  329.6076     5      372
177  334.4818     6      372
178  343.2199     7      372
179  369.1417     8      372
180  364.1236     9      372